

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2b283a;
  font-weight: 400, 500;
  margin: 0;
}


/* Typography */

h1, h3 {
  margin: 0;
}

h1 {
  font-size: 36px;
  color: whitesmoke;

}

h2{
  margin-top: 0;
}

h3 {
  font-size: 20px;
  color: #d0aaff;
}


/* links */

a{
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover, a:active{
  color: #d4b44c;
  
}

/* layout */

header, .section-crypto {
  background-color: #5f29a3;
}

header, 
section, 
footer {
  padding: 45px 0;
}

.section-crypto{
  color: whitesmoke;
}

.section-crypto p{
line-height: 23px;
}

.sneaker-img{
  width: 100%;
}


.container {
  margin: 0 auto;
  width: 620px;
}

.img-pics {
  width: 300px;
  border-radius: 4.6px;
}

.item-container{
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
  font-size: 16px;
  color: #5f29a3;
}