

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2b283a;
  font-weight: 400, 500;
  margin: 0;
}


/* Typography */

h1 {
  font-size: 36px;
  color: whitesmoke;
  margin: 0;

}

h2{
  margin-top: 0;
}

h3 {
  font-size: 20px;
  color: #d0aaff;
  margin: 0;
}


/* links */

a{
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover{
  color: #d4b44c;
  
}

a:active{
  color: #d4b44c;
}

/* layout */

header {
  background-color: #5f29a3;
  padding: 45px 0;
}

section {
  padding: 45px 0;
}

.section-crypto{
  background-color: #5f29a3;
  color: whitesmoke;
}

.sneaker-img{
  width: 100%;
}


.container {
  margin: 0 auto;
  width: 620px;
}

.img-pics {
  width: 300px;
  border-radius: 4.6px;
}

.item-container{
  display: flex;
  justify-content: space-between;
}
